//TIPOGRAFIAS
$ralewayMenu:'Raleway', sans-serif;
$oldstandardLogo:'Old Standard TT', serif;
$weightBold:700;
$weightRegular:400;


//COLORES
$backGroundColorNav:#0C0910;
$fontColorNav:white ;

$colorMain: #0C0910;

$backGroundColorNewsSection: #0C0910;
$fontColorNewsSection: white;

//font size

