.titulo-main{
    margin: 3rem;
    width: 15rem;
}

p{
    font-family: $ralewayMenu;
    text-align: start;
    margin: 3rem;
    margin-bottom: 1rem;
    width: 14rem;

}
button{
    font-family: $ralewayMenu;
    font-weight: $weightBold;
    background-color: white;
    height: 2rem;
    width: 7rem;
    margin: 3rem;
    margin-top: 1rem;
}
img{
    width: 60%;
}